* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: rgb(180, 165, 165);
}

.foto-inicio{
  width: 55vh;
  margin: 4% 8%;
}

#inicio{
 
  background-color: lawngreen;
  background-size: cover;
  height: 100vh;
}

.informacion{
  background-color: white;
  width: 80vh;
  float: right;
  padding: 2%;
  margin: 4%;
}
/* -----------Galeria--------- */

#menu2{
  padding: 2%;
  text-align: center;
}
.img-galeria{
width: 100%;
}

.row{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column{
  flex: 25%;
  padding: 5px;
}

.column img{
  margin-top: 5px;
}

@media(max-width:360px){
  .column{
    flex: 100%;
  }
}
@media(max-width:760px){
  .column{
    flex: 50%;
  }
}