<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.2.css">
  <link rel="stylesheet" href="./css/contacto.css">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
<!-- <div>
  <div class="navbar">
    <a href="#home" id="link1">Home</a>
    <a href="#datospersonales" id="link2">Datos Personales</a>
    <a href="#galeria" id="link3">Galeria</a>
    <a href="#contact" id="link4">Contacto</a>
  </div> -->
  <header>
    <nav>
      <a class="logo" href="/">Profesionales Web</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="#home" id="link1">Inicio</a></li>
        <li><a href="#datospersonales" id="link2">Datos Personales</a></li>
        <li><a href="#galeria" id="link3">Galeria</a></li>
        <li><a href="#contact" id="link4">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <div class="container" id="inicio">
      
      <img src="./img/" alt="photo inicial" class="foto-inicio">
   
      <section id="one" class="informacion">
        <div class="content box style2">
          
          <header>
            <h2>Maria del Pilar Calani Mamani</h2>
          </header>
          <p>Modelo independiente, con un carácter agradable con facilidad de palabra. Me considero una chica carismática, responsable, alegre, activa, sociable, comprometida, paciente, puntual y con seriedad.
            </p>
        </div>
      </section>
  </div>

  <div class="container" id="menu1">
    Menu dcbjwbcjieb
  </div>
  <!-- *************GALERIA************** -->
  <div class="container" id="menu2">
    <h1>-PORTAFOLIO-</h1>
    <div class="row">
      <div class="column">
        <img src="/img/img1.jpeg" alt="imagen1" class="img-galeria">
        <img src="/img/img2.jpeg" alt="imagen2" class="img-galeria">
        <img src="/img/img1.jpeg" alt="imagen1" class="img-galeria">
      </div>
      <div class="column">
        <img src="/img/img3.jpeg" alt="imagen1" class="img-galeria">
        <img src="/img/img4.jpeg" alt="imagen2" class="img-galeria">
        <img src="/img/img3.jpeg" alt="imagen1" class="img-galeria">
      </div>
      <div class="column">
        <img src="/img/img5.jpeg" alt="imagen1" class="img-galeria">
        <img src="/img/WhatsApp Image 2022-06-05 at 7.08.39 PM.jpeg" alt="imagen2"  class="img-galeria">
        <img src="/img/img2.jpeg" alt="imagen2" class="img-galeria">
      </div>

      <div class="column">
        <img src="/img/img3.jpeg" alt="imagen1" class="img-galeria">
        <img src="/img/img4.jpeg" alt="imagen2" class="img-galeria">
        <img src="/img/img4.jpeg" alt="imagen2" class="img-galeria">
      </div>

    </div>
  </div>
<!-- **********FORMULARIO************** -->
  <div class="container" id="menu3">
    <div class="cuerpo">
      <form [formGroup]="forma" (ngSubmit)="guardar()">
        <div class="form-container">
          <h2 class="form-title">Formulario de Contacto</h2>
          <input
            type="text"
            class="form-input"
            placeholder="Nombre: "
            id="fname"
            formControlName="nombre"
            [class.is-invalid]="nombreNoValido"
            autocomplete="off"
          />
          <small class="advertencia" *ngIf="nombreNoValido">
            Ingrese mas de 3 letras
          </small>
          <input
            type="text"
            class="form-input"
            placeholder="Email: "
            id="femail"
            formControlName="correo"
            [class.is-invalid]="correoNoValido"
            autocomplete="off"
          />
          <small class="advertencia" *ngIf="correoNoValido">
            Ingrese un email valido
          </small>
          <textarea
            name=""
            id="mensaje"
            cols="30"
            rows="8"
            class="form-input form-input-mensaje"
            placeholder="Mensaje:"
            formControlName="mensaje"
            [class.is-invalid]="mensajeNoValido"
          ></textarea>
          <small class="advertencia" *ngIf="mensajeNoValido">
            Ingrese un mensaje
          </small>
    
          <!-- <input type="submit" value="Enviar" class="form-cta" [disabled]="forma.invalid"> -->
    
          <button type="submit" class="form-cta" [disabled]="forma.invalid">
            Enviar
          </button>
    
        </div>
      </form>
    </div>
    
  </div>

</div>
  <script src="./js/evento2.js"></script>
  <script src="mobile-navbar.js"></script>
</body>
</html>
